[submodule "audit-log"]
	path = audit-log
	url = https://github.com/marnec/audit-log.git
[submodule "convex-authz"]
	path = convex-authz
	url = git@github.com:marnec/convex-authz.git
[submodule "convex-cascading-delete"]
	path = convex-cascading-delete
	url = https://github.com/marnec/convex-cascading-delete.git
